*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INDEX.HTML */
#nav{
    background-color: rgba(132, 134, 158, 0.596);
}
nav span{
    color: rgb(209, 127, 55);
    font-size: 45px;
}
nav h1{
    color: rgb(0, 0, 0);
}
.nhead{
    color: rgb(0, 0, 0);
}
.nhead:hover{
    color: rgb(209, 127, 55);
    font-weight: 500;
    text-transform: uppercase;
}
/* end of nav */

/* hero section */
#hero{
    background-color: rgba(132, 134, 158, 0.596);
    color: rgb(0, 0, 0);
}
#hero .heron{
    width: 50%;
}
.right{
    width: 40%;
}
.right img{
    height: 450px;
    width: 550px;
    transition: all 0.5s ease 0s;
}
.right img:hover{
    zoom: 90%;
    transition: all 0.5s ease 0s;
}
#hero .design{
    position: absolute;
    border-left: 3px solid rgb(209, 127, 55);
    border-bottom: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-top: 355px;
}
#hero .design2{
    position: absolute;
    border-top: 3px solid rgb(209, 127, 55);
    border-right: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-left: 1000px;
}
/* end of hero section */
/* end of index.html */


/* about.html */
#abnav{
    background-color: transparent;
}
#about1{
    background-image: url(../img/university-519606_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#about1 .break{
    background-image: url(../img/university-519606_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#about1 img{
    height: 100px;
}  
#about1 .wwa{
    /* backdrop-filter: blur(30px); */
    background-color: tomato;
    width: 30%;
    padding-top: 50px;
    border-radius: 50px;
}
#about1 .wwd{
    background-color: rgb(125, 143, 143);
    padding-top: 50px;
    color: white;
}
.wwdimg{
    height: 100px;
    width: 100px;
}
#about1 .wwd p{
    width: 50%;
}
#about1 .whwa{
    background-color: tomato;
    width: 30%;
    height: 350px;
    padding-top: 50px;
    border-radius: 50px;
}
#about1 .wwdi{
    background-color: rgb(125, 143, 143);
    padding-top: 50px;
    color: rgb(240, 228, 228);
}
#about1 .wwdi p{
    width: 50%;
}
/* end of about.html */

/* service.html */
#sfirst{
    background-color: rgb(173, 157, 173);
}
nav{
    background-color: rgb(173, 157, 173);
}
#sfirst hr{
    height: 7px;
    width: 100%;
    background-color: rgb(209, 127, 55);
}
.cyimg{
    height: 100px;
    width: 200px;
    /* border-radius: 0 70px 0 70px; */
}
#sfirst .item{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 131, 143);
    transition: all 0.2s ease-in-out 0s;
}
#sfirst .item:hover{
    zoom: 90%;
    cursor: pointer;
    transform: rotate(-2.5deg);
}
#sfirst h6{
    letter-spacing: 1.2px;
    text-align: center;
}
#sfirst p{
    letter-spacing: .5px;
}
/* end of services.html */


/* contact.html */
#be h1{
    color: white;
}
#be li a{
    color: white;
    transition: 0.2s ease;
}
#be li a:hover{
    color: rgb(209, 127, 55);
    font-weight: 600;
    text-transform: uppercase;
}
#contact1{
    color: white;
}
#contact1 .address{
    height: 24px; 
}
#contact1 .icons img:hover{
    zoom: 120%;
}
#contact1 .h6ln{
    line-height: 25px;
    letter-spacing: 1px;
}
#contact1 hr{
    width: 500px;
}
/* end of contact.html */

/* rgb(209, 127, 55) */