*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#nav button,
#snav button,
#abnav button,
#be button{
    display: none;
}
/* nav .openMenu,
#abnav .openMenu,
#snav .openMenu,
#be .openMenu{
    font-size: 1.5rem;    
    margin: 20px;
    cursor: pointer;
    display: none;
}
nav .closeMenu,
#abnav .closeMenu,
#snav .closeMenu,
#be .closeMenu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
} */

/* INDEX.HTML */
#nav{
    background-color: rgba(132, 134, 158, 0.596);
}
nav span{
    color: rgb(209, 127, 55);
    font-size: 45px;
}
nav h1{
    color: rgb(0, 0, 0);
}
.nhead{
    color: rgb(0, 0, 0);
}
.nhead:hover{
    color: rgb(209, 127, 55);
    font-weight: 500;
    text-transform: uppercase;
}
/* end of nav */

/* hero section */
#hero{
    background-color: rgba(132, 134, 158, 0.596);
    color: rgb(0, 0, 0);
}
#hero .heron{
    width: 50%;
}
.right{
    width: 40%;
}
.right img{
    height: 450px;
    width: 550px;
    transition: all 0.5s ease 0s;
}
.right img:hover{
    zoom: 90%;
    transition: all 0.5s ease 0s;
}
#hero .design{
    position: absolute;
    border-left: 3px solid rgb(209, 127, 55);
    border-bottom: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-top: 400px;
}
#hero .design2{
    position: absolute;
    border-top: 3px solid rgb(209, 127, 55);
    border-right: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-left: 1000px;
}
/* end of hero section */
/* end of index.html */


/* about.html */
#abnav{
    background-color: rgba(191, 140, 240, 0.432);
}
#about1{
    background-image: url(../img/university-519606_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#about1 .break{
    background-image: url(../img/university-519606_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#about1 img{
    height: 100px;
}
#about1 .one, #about1 .two, #about1 .three{
    transform: all 0.5s linear 0s;
}
#about1 .one:hover, #about1 .two:hover, #about1 .three:hover{
    cursor: pointer;
    border-radius: 50px;
    zoom: 90%;
}
/* end of about.html */
/* service.html */
#sfirst{
    background-color: rgb(173, 157, 173);
}
nav{
    background-color: rgb(173, 157, 173);
}
#sfirst hr{
    height: 7px;
    width: 100%;
    background-color: rgb(209, 127, 55);
}
.cyimg{
    height: 100px;
    width: 200px;
}
#sfirst .item{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 131, 143);
    transition: all 0.2s ease-in-out 0s;
}
#sfirst .item:hover{
    zoom: 90%;
    cursor: pointer;
    transform: rotate(-2.5deg);
}
#sfirst h6{
    letter-spacing: 1.2px;
    text-align: center;
}
#sfirst p{
    letter-spacing: .5px;
}
/* end of services.html */
/* contact.html */
#be h1{
    color: white;
}
#be li a{
    color: white;
    transition: 0.2s ease;
}
#be li a:hover{
    color: rgb(209, 127, 55);
    font-weight: 600;
    text-transform: uppercase;
}
#contact1{
    color: white;
}
#contact1 .address{
    height: 24px; 
}
#contact1 .icons img:hover{
    zoom: 120%;
}
#contact1 .h6ln{
    line-height: 25px;
    letter-spacing: 1px;
}
#contact1 hr{
    width: 500px;
}
/* end of contact.html */




/* tablet view */
@media (max-width: 768px) and (min-width: 430px){
    /* index.html */
    #nav{
        background: rgba(132, 134, 158, 0.247);
        width: 100%;
    }
    #nav button,
    #snav button,
    #abnav button,
    #be button{
        display: block;
    }
    #nav .mainMenu,
    #abnav .mainMenu,
    #snav .mainMenu,
    #be .mainMenu{
        display: none;
    }
    #nav h1{
        font-size: 25px;
    }
    #nav span{
        font-size: 33px;
    }
    #nav ul{
        font-size: 15px;
    }
    #nav li a,
    #abnav li a,
    #snav li a{
        padding: 10px;
        color: black;
        font-size: 20px;
    }
    #be li a{
        padding: 10px;
        color: white;
        font-size: 20px;
    }
    #nav li a:hover,
    #abnav li a:hover,
    #snav li a:hover,
    #be li a:hover{
        color: rgb(209, 127, 55);
        transition: transform 0.5s ease-in;
    }
    #hero{
        background-color: rgba(132, 134, 158, 0.596);
        height: 100vh;
    }
    #hero .heron{
        height: 450px;
        padding-bottom: 30px;
    }
    #hero h3{
        font-size: 15px;
        padding-top: 0;
    }
    #hero p span{
        display: none;
    }
    #hero button{
        display: none;
    }
    #hero .right{
        display: flex;
        align-items: center;
    }
    #hero img{
        height: 300px;
    }
    #hero .design, #hero .design2{
        display: none;
    }
    #about1 p span{
        display: none;
    }
/* service.html */
    #snav h1{
        font-size: 20px;
    }
    #snav span{
        font-size: 30px;
    }
    #sfirst p{
        display: none;
    }
    #sfirst h6{
        font-size: 15px;
    }
    #sfirst .be{
        display: none;
    }
    #sfirst .see{
        visibility: visible;
    }
    #sfirst .see a{
        visibility: visible;
    }
    /* contact.html */
    #be h1{
        font-size: 25px;
    }
    #be span{
        font-size: 33px;
    }
    #be ul{
        font-size: 15px;
    }
    #contact1 h6{
        font-size: 20px;
        letter-spacing: 1px;
    }
    #contact1 .up{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #contact1 .up h6{
        width: 250px;
        font-size: 20px;
    }
    #contact1 .up .icons{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact1 hr{
        width: 50%;
    }
    #contact1 h4{
        font-size: 13px;
    }
} 
/* end of tablet view */




/* mobile view */
@media (max-width: 425px)  {
    /* index.html */
    #nav button,
    #snav button,
    #abnav button,
    #be button{
        display: block;
    }
    #nav .mainMenu,
    #abnav .mainMenu,
    #snav .mainMenu,
    #be .mainMenu{
        display: none;
    }
    #nav{
        padding-top: 10px;
        background: rgba(132, 134, 158, 0.247);
        width: 100%;
    }
    #nav h1{
        font-size: 25px;
    }
    #nav span{
        font-size: 33px;
    }
    #nav ul{
        font-size: 10px;
    }
    #nav li a,
    #abnav li a,
    #snav li a,
    #be li a{
        padding: 15px  6px;
        color: white;
        font-size: 40px;
    }
    #nav li a:hover,
    #abnav li a:hover,
    #snav li a:hover,
    #be li a:hover{
        color: rgb(209, 127, 55);
        transition: transform 0.5s ease-in;
    }
    #nav .nonet a,
    #abnav .nonet a,
    #snav .nonet a,
    #be .nonet a{
        font-size: 15px;
    }
    #nav{
        position: absolute;
    }
    #nav h1{
        font-size: 10px;
        font-weight: 600;
    }
    #nav span{
        font-size: 15px;
    }
    #nav ul{
        width: 250px;
    }
    #nav ul a{
        font-size: 9px;
        padding: 0 3px;
        margin: 0 2px;
    }
    #hero .heron{
        width: 100%;
    }
    #hero .right,  .design2, .but{
        display: none;
    }
    #hero h3{
        font-size: 15px;
        font-weight: 600;
        width: 100%;
    }
    #hero p{
        font-size: 15px;
    }
    /* #hero p span{
        display: none;
    } */
    #hero hr{
        width: 150px;
    }
    #hero .design{
        margin-top: 430px;
        height: 50px;
    }
    /* about.html */
    #abnav h1{
        font-size: 10px;
        font-weight: 600;
    }
    #abnav span{
        font-size: 15px;
    }
    #abnav ul{
        width: 250px;
    }
    #abnav ul a{
        font-size: 9px;
        padding: 0 3px;
        margin: 0 2px;
    }
    #about1 .row{
        display: flex;
        flex-direction: column;
    }
    #about1 .col{
        background-color: transparent;
    }
    #about1 .one, .two, .three{
        border-radius: 50px;
        width: 60%;
        
        height: 160px;
    }
    #about1 img{
        display: none;
    }
    #about1 h2{
        font-size: 20px;
    }
    #about1 p{
        font-size: 13px;
        letter-spacing: 1px;
    }
    #about1 p span{
        display: none;
    }
    /* service.html */
    #snav h1{
        font-size: 12px;
        font-weight: 600;
    }
    #snav span{
        font-size: 18px;
    }
    #snav ul{
        width: 250px;
    }
    #snav ul a{
        font-size: 10px;
        padding: 0 3px;
        margin: 0 2px;
    }
    #sfirst h1{
        font-size: 20px;
        margin-bottom: 0;
    }
    #sfirst hr{
        margin-bottom: 0;
    }
    #sfirst p{
        display: none;
    }
    #sfirst .con{
        height: 250px;
    }
    #sfirst .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 200px;
    }
    #sfirst .be, .sbe{
        display: none;
    }
    #sfirst .see a{
        visibility: visible;
    }
    /* contact.html */
    #be{
        position: absolute;
        width: 100%;
    }
    #be h1{
        font-size: 12px;
        font-weight: 600;
    }
    #be span{
        font-size: 18px;
    }
    #be ul{
        width: 250px;
    }
    #be ul a{
        font-size: 11px;
        padding: 0 3px;
        margin: 0 2px;
    }
    #contact1 h6{
        font-size: 20px;
    }
    #contact1 hr{
        width: 80%;
    }
    #contact1 h4{
        font-size: 15px;
    }
    #contact1 h4 span{
        display: none;
    }


}
/* end of mobile view */

/* smallest mobile view */
@media (max-width: 320px){
    #hero p span{
        display: none;
    }
}
/* end of smallest mobile view */