*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INDEX.HTML */
#nav{
    background-color: rgba(132, 134, 158, 0.596);
}
nav span{
    color: rgb(209, 127, 55);
    font-size: 45px;
}
nav h1{
    color: rgb(0, 0, 0);
}
.nhead{
    color: rgb(0, 0, 0);
}
.nhead:hover{
    color: rgb(209, 127, 55);
    font-weight: 500;
    text-transform: uppercase;
}
/* end of nav */

/* hero section */
#hero{
    /* background-image: url(../img/software-developer-6521720_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* backdrop-filter: grayscale(); */
    background-color: rgba(132, 134, 158, 0.596);
    color: rgb(0, 0, 0);
}
#hero .heron{
    width: 50%;
}
.right{
    width: 40%;
}
.right img{
    height: 450px;
    width: 550px;
    transition: all 0.5s ease 0s;
}
.right img:hover{
    zoom: 90%;
    transition: all 0.5s ease 0s;
}
#hero .design{
    position: absolute;
    border-left: 3px solid rgb(209, 127, 55);
    border-bottom: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-top: 355px;
}
#hero .design2{
    position: absolute;
    border-top: 3px solid rgb(209, 127, 55);
    border-right: 3px solid rgb(209, 127, 55);
    height: 100px;
    width: 10%;
    margin-left: 1000px;
}
/* end of hero section */

/* second section */
#second{
    background-color: rgba(132, 134, 158, 0.596);
}

/* end of second section */
/* END OF INDEX SECTION */






/* service.html */
#sfirst{
    background-color: rgb(173, 157, 173);
}
nav{
    background-color: rgb(173, 157, 173);
}
#sfirst hr{
    height: 7px;
    width: 100%;
    background-color: rgb(209, 127, 55);
}
.cyimg{
    height: 100px;
    width: 200px;
    border-radius: 0 70px 0 70px;
}
#sfirst .item{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 131, 143);
    /* background-color: rgb(209, 127, 55); */
    /* transition-duration: 350ms;
    transition-property: all;
    
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .1s; */
    transition: all 0.2s ease-in-out 0s;
    
}
#sfirst .item:hover{
    zoom: 90%;
    cursor: pointer;
    transform: rotate(-2.5deg);
}
#sfirst h6{
    letter-spacing: 1.2px;
    text-align: center;
}
#sfirst p{
    letter-spacing: .5px;
}
/* end of services.html */



/* contact.html */
#be h1{
    color: white;
}
#be li a{
    color: white;
    transition: 0.2s ease;
}
#be li a:hover{
    color: rgb(209, 127, 55);
    font-weight: 600;
    text-transform: uppercase;
}
#contact1{
    color: white;
}
#contact1 .address{
    height: 24px; 
}
#contact1 .icons img:hover{
    zoom: 120%;
}
#contact1 .h6ln{
    line-height: 25px;
    letter-spacing: 1px;
}
#contact1 hr{
    width: 500px;
}
/* end of contact.html */

/* rgb(209, 127, 55) */